<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <title>administrator products </title>
</head>

<body>
    <!--Header-->
    <%- include("../partials/header") %>
        <!--Header-->
        <!--navbar-->
        <%- include("../partials/navbar") %>
            <!--navbar-->
            <main class="adm">
                <div class="adm_content">
                    <h2></i>Administrador de productos  </h2>
                    <div class="content_table">
                        <section class="table_mobile">
                            <article class="mobile_items">
                                <% productos.forEach(elem => { %>
                                <img src="/img/<%= elem.image%>" alt="">
                                <div class="table_inf">
                                    <h3>ID</h3>
                                    <p><%= elem.idproducts%></p>
                                </div>
                                <div class="table_inf">
                                    <h3>PRODUCTO</h3>
                                    <P><%= elem.name%></P>
                                </div>
                                <div class="table_inf">
                                    <h3>CATEGORIA</h3>
                                    <p><%= elem.category%></p>
                                </div>
                                <div class="table_inf">
                                    <h3>VER</h3>
                                    <p><a href="/productos/detail/<%= elem.idproducts %> "><i class="fas fa-eye"></i></a></p>
                                </div>
                                <div class="table_inf">
                                    <h3>EDITAR</h3>
                                    <p><a href="/productos/edit/<%= elem.idproducts %>"><i class="fas fa-edit"></i></a></p>
                                </div>
                                <div class="table_inf">
                                    <h3>ELIMINAR</h3>
                                    <p><form action="/productos/delete/<%= elem.idproducts %>?_method=DELETE" method="POST">
                                        <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                    </form></p>
                                </div>
                                <% }); %>
                            </article>
                        </section>
                        <table>
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Imagen</th>
                                    <th>Producto</th>
                                    <th>Categoria</th>
                                    <th>Ver</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% productos.forEach(elem => { %>
                                <tr>
                                    <td > <%= elem.idproducts%></td>
                                    <td ><img src="/img/<%= elem.image%>" alt=""></td>
                                    <td > <%= elem.name%> </td>
                                    <td > <%= elem.category%></td>
                                    <td ><a href="/productos/detail/<%= elem.idproducts %> "><i class="fas fa-eye"></i></a></td>
                                    <td ><a href="/productos/edit/<%= elem.idproducts %>"><i class="fas fa-edit"></i></a></td>
                                    <td >
                                        <form action="/productos/delete/<%= elem.idproducts %>?_method=DELETE" method="POST">
                                            <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </td>

                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <nav class="content-buttoms">
                        <a href="/productos/create"><button>Agregar nuevo producto<i class="fas fa-plus-circle"></i></button></a>
                    </nav>
                </div>
            </main>

            <!--footer-->
            <%- include("../partials/footer") %>
                <!--footer-->

</body>

</html>