<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <title>Edición de producto</title>
</head>
<body>
    <!--Header-->
    <%- include("../partials/header") %> 
    <!--Header-->
    <!--navbar-->
    <%- include("../partials/navbar") %>
    <!--navbar-->

    <main class="edition">
        <h1>Edición de producto</h1>
        <div class="container-product">
            <form action="/productos/edit/<%=productEditar.idproducts%>?_method=PUT
            " method="POST" enctype="multipart/form-data" class="form-register" >
                <div class="img-product">
                    <img src="/img/<%=productEditar.image%>" alt="">
                    <div class="control-formulario">
                        <label for="image">Cambiar Foto de Producto:</label>
                        <div>
                            <input type="file" name="image" id="foto" class="barra" accept=".jpg , .png , .jpeg">
                            <% if (locals.errors && errors.image) { %>
                                <div class="text-danger">
                                    <%= errors.image.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <section class="section-1">
                    <article class="item-product">
                        <div class="inf-product">
                            <h2>Detalle de producto</h2>
                            <div class="control-formulario">
                                <label for="name"> Editar nombre del producto:</label>
                                <div>
                                    <input type="text" name="name" id="title" 
                                    class="barra <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                                    value="<%=productEditar.name%>" minlength="2">
                                    <% if (locals.errors && errors.name) { %>
                                        <div class="text-danger">
                                            <%= errors.name.msg %>
                                        </div>
                                    <% } %>   
                                </div>
                            </div>
    
                            <div class="control-formulario">
                                <label for="description">Editar descripción del producto:</label>
                                <textarea id="description" 
                                class="barra <%= locals.errors && errors.description ? 'is-invalid' : null %>"
                                 name="description" rows="3" cols="20" 
                                >"<%=productEditar.description%>"</textarea>
                                 <% if (locals.errors && errors.description) { %>
                                    <div class="text-danger">
                                        <%= errors.description.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="control-formulario">
                                <label for="price"> Editar precio del producto:</label>
                                <div>
                                    <input type="text" name="price" id="price" 
                                    class="barra <%= locals.errors && errors.price ? 'is-invalid' : null %>"
                                     value="$ <%=productEditar.price%>" minlength="3">
                                     <% if (locals.errors && errors.price) { %>
                                        <div class="text-danger">
                                            <%= errors.price.msg %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="control-formulario">
                                <label for="category">Editar categoría del producto:</label>
                                <select name="categories_idcategories" id="">
                                    <% categorias.forEach(categoria => { %>
                                        <option value="<%= categoria.idcategories %>"><%= categoria.name %> </option>
                                    <% }) %>
                                </select>
                            </div>   
                        </div>
                        <div class="content-buttons">
                            <input type="reset" id="reset" class="buttons" value="Descartar cambios">
                            <input type="submit" id="submit" class="buttons" value="Guardar y enviar">
                        </div>
    
                    </article>
                </section>
            </form>
        </div>
    </main>

    <!--footer-->
    <%- include("../partials/footer") %>
    <!--footer-->
    <script src="../../../public/js/validationProductMod.js"></script>
</body>
</html>