<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <title>Nuevo Producto</title>
</head>

<body>
    <!--Header-->
    <%- include("../partials/header") %>
    <!--Header-->
    <!--navbar-->
    <%- include("../partials/navbar") %>
    <!--navbar-->
    <!--infobar-->
    <%- include("../partials/infobar") %>
    <!--infobar-->

    <main class="product-new">
        <h1>Agregar nuevo producto</h1>
        <div class="container-product">
            <form action="/productos/create" class="form-register" method="POST"
                            enctype="multipart/form-data" id="form-product">

                <div class="img-product">
                    <div class="control-formulario">
                        <label for="image">Agregar foto del producto:</label>
                            <div>
                                <input type="file" name="image" id="image-product"
                                            class="barra <%= locals.errors && errors.image ? 'is-invalid' : null %>"
                                            value="<%= locals.oldData ? oldData.image : null %>"
                                            accept=".jpg , .png , .jpeg">
                                        <% if (locals.errors && errors.image) { %>
                                            <div class="text-danger">
                                                <%= errors.image.msg %>
                                            </div>
                                            <% } %>
                            </div>
                    </div>

                </div>

                <section class="section-1">
                    <article class="item-product">
                        <div class="inf-product">
                            <h2>Información del producto</h2>
                            <div class="control-formulario">
                                <label for="name">Nuevo nombre del producto:</label>
                                    <div>
                                        <input type="text" name="name" id="title" placeholder="Nuevo Producto"
                                                    minlength="2" placeholder="Ingrese sus Nombres"
                                                    class="barra <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                                                    value="<%= locals.oldData ? oldData.name : null %>">
                                                <% if (locals.errors && errors.name) { %>
                                                    <div class="text-danger">
                                                        <%= errors.name.msg %>
                                                    </div>
                                                    <% } %>
                                    </div>
                            </div>

                            <div class="control-formulario">
                                <label for="description">Añadir descripción del producto:</label>
                                <textarea id="description" name="description"
                                                placeholder="Descripción del Producto"
                                                class="barra <%= locals.errors && errors.description ? 'is-invalid' : null %>"
                                                value="<%= locals.oldData ? oldData.description : null %>"></textarea>

                                            <% if (locals.errors && errors.description) { %>
                                                <div class="text-danger">
                                                    <%= errors.description.msg %>
                                                </div>
                                                <% } %>
                            </div>
                            <div class="control-formulario">
                                <label for="price"> Añadir precio del producto:</label>
                                <div>
                                    <input type="text" name="price" id="price"
                                                    class="barra <%= locals.errors && errors.price ? 'is-invalid' : null %>"
                                                    value="<%= locals.oldData ? oldData.price : null %>">

                                                <% if (locals.errors && errors.price) { %>
                                                    <div class="text-danger">
                                                        <%= errors.price.msg %>
                                                    </div>
                                                    <% } %>
                                </div>
                            </div>
                            <div class="control-formulario">
                                <label for="category">Añadir categoría del producto:</label>
                                <select name="categories_idcategories" id="">
                                                <% categorias.forEach(categoria=> { %>
                                                    <option value="<%= categoria.idcategories %>">
                                                        <%= categoria.name %>
                                                    </option>
                                                    <% }) %>
                                                        <% if (locals.errors && errors.categories_idcategories) { %>
                                                            <div class="text-danger">
                                                                <%= errors.categories_idcategories.msg %>
                                                            </div>
                                                            <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="errors-product">
                            <ul>

                            </ul>
                        </div>

                        <div class="content-buttons">
                            <input type="reset" id="reset" class="buttons" value="Descartar cambios">
                            <input type="submit" id="submit" class="buttons" value="Guardar y enviar">
                        </div>

                    </article>
                </section>
            </form>
        </div>
    </main>
    <!--footer-->
    <%- include("../partials/footer") %>
    <!--footer-->
    <script src="/js/validationProduct.js"></script>
</body>
</html>