<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <title>Product details</title>
</head>

<body>
    <!--Header-->
    <%- include("../partials/header") %> 
    <!--Header-->
    <!--navbar-->
    <%- include("../partials/navbar") %>
    <!--navbar-->
    <!--infobar-->
    <%- include("../partials/infobar") %>
    <!--infobar-->
    <main class="product-details">
        <div class="container-product">
            <div class="img-product">
                <img src="/img/<%=view.image%>" alt="">
            </div>
            <section class="section-1">
                <article class="item-product">
                    <div class="inf-product">
                        <h1>Detalle de producto</h1>
                        <h2> <%=view.name%>  250 gr </h2>
                        <p class="bold">
                            Descripción: <%=view.description%>
                        </p>
                        <p class="bold">
                            Categoría: <%=view.categories_idcategories%>
                        </p>
                        <p class="bold">
                            <label for="numero">Cantidad:</label>
                            <input type="number" name="numero" id="numero" max="100" min="0">
                        </p>
                    </div>
                    <nav class="content-buttoms">
                        <a href="/shopping_cart"><button>Comprar Ahora</button></a>
                        <a href="/shopping_cart"><button>Agregar <i class="fas fa-cart-plus"></i></button></a>
                        <a href="#favorito"><button><i class="fas fa-heart"></i> Agregar a favoritos</button></a>
                    </nav>
                </article>
            </section>
        </div>
        
        <section class="section-2">
            <h4>Lista de Agricultores</h4>
            <div class="name-agri">
                <article class="person">
                    <img src="" alt="">
                    <div class="person-descrip">
                        <h3>pepito perez</h3>
                        <p>visita mi cosecha</p>
                    </div>
                </article>
                <article class="person">
                    <img src="" alt="">
                    <div class="person-descrip">
                        <h3>pepito perez</h3>
                        <p>visita mi cosecha</p>
                    </div>
                </article>
                <article class="person">
                    <img src="" alt="">
                    <div class="person-descrip">
                        <h3>pepito perez</h3>
                        <p>visita mi cosecha</p>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <!--footer-->
    <%- include("../partials/footer") %>
    <!--footer-->

</body>

</html>