<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <title>Nuevo Producto</title>
</head>

<body>
    <!--Header-->
    <%- include("../partials/header") %> 
    <!--Header-->
    <!--navbar-->
    <%- include("../partials/navbar") %>
    <!--navbar-->
    <!--infobar-->
    <%- include("../partials/infobar") %>
    <!--infobar-->
    <main class="product-new">
        <h1>Agregar nuevo producto</h1>
        <div class="container-product">
            <form action="/productos/create" class="form-register" method="POST" enctype="multipart/form-data">
                <div class="img-product">
                    <div class="control-formulario">
                        <label for="image">Agregar foto del producto:</label>
                        <div>
                            <input type="file" name="image" id="foto" class="barra" accept=".jpg , .png , .jpeg">
                        </div>
                    </div>
                </div>
                <section class="section-1">
                    <article class="item-product">
                        <div class="inf-product">
                            <h2>Información del producto</h2>
                            <div class="control-formulario">
                                <label for="name">Nuevo nombre del producto:</label>
                                <div>
                                    <input type="text" name="name" id="title" class="barra" placeholder="Nuevo Producto"
                                        minlength="2">
                                </div>
                            </div>
    
                            <div class="control-formulario">
                                <label for="description">Añadir descripción del producto:</label>
                                <textarea id="description" class="barra" name="description" rows="3" cols="20">Nueva descripción</textarea>
                            </div>
                            <div class="control-formulario">
                                <label for="price"> Añadir precio del producto:</label>
                                <div>
                                    <input type="text" name="price" id="price" class="barra" placeholder="$$$$$"
                                        minlength="3">
                                </div>
                            </div>
                            <div class="control-formulario">
                                <label for="category">Añadir categoría del producto:</label>
                                <select name="categories_idcategories" id="">
                                    <% categorias.forEach(categoria => { %>
                                        <option value="<%= categoria.idcategories %>"><%= categoria.name %> </option>
                                    <% }) %>
                                </select>
                            </div>   
                        </div>
                        <div class="content-buttons">
                            <input type="reset" id="reset" class="buttons" value="Descartar cambios">
                            <input type="submit" id="submit" class="buttons" value="Guardar y enviar">
                        </div>
    
                    </article>
                </section>
            </form>
        </div>
    </main>
    <!--<main class="product-details product-new">
        <h1>Agregar nuevo producto</h1>
        <form action="/" class="form-product_new">
            <div class="container-product">
                <div class="img-product">
                    <label for="imagen">¿Cual es su imagen?</label>
                    <input type="file" name="product_new"/>
                    <img src="/img/fresa_details.jpg" alt="">
                </div>
                <section class="section-1">
                    <article class="item-product">
                        <div class="inf-product">
                            <label for="name-product"><h2>Nombre del Producto:</h2></label>
                            <input type="text" name="name-product" id="name-product" class="barra" placeholder="Ingrese el nombre del producto" required>
                            <p class="bold">
                                <label class="control-info">Categoria del Producto:</label>
                                <select name="profile" class="control" required>
                                    <option value="buyer">Verdura</option>
                                    <option value="seller">Fruta</option>
                            </select>
                            </p>
                            
                            <p class="bold">
                                <label for="description">¿Cual es su descripción?</label>
                                <input type="text" name="description" id="numero" >
                            </p>
                            <p class="bold">
                                <label for="numero">¿Qué precio?</label>
                                <input type="number" name="numero" id="numero">
                            </p>
                            <p class="bold">
                                <label for="numero">¿Cuantos?</label>
                                <input type="number" name="numero" id="numero">
                            </p>
                        </div>
                        <nav class="content-buttoms">
                            <a href="/shopping_cart"></a><button type="reset" class="button-form__reset">Borrar</button></a>
                            <a href="/shopping_cart"></a><button type="submit" class="button-form__submit">Guardar</button></a>
                        </nav>
                    </article>
                </section>
            </div>
        </form>
    </main>-->

    <!--footer-->
    <%- include("../partials/footer") %>
    <!--footer-->

</body>

</html>