<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <title>Carrito de Compras</title>
</head>

<body>

    <!--Header-->
    <%- include("../partials/header") %> 
    <!--Header-->
    <!--navbar-->
    <%- include("../partials/navbar") %>
    <!--navbar-->
    <!--infobar-->
    <%- include("../partials/infobar") %>
    <!--infobar-->
    
    <main class="main-main">
        
        <section class="main-content">
            <h3>Carrito de Compras</h3>

            <section class="content_section">

                <div class="products">
                    <article class="items">
                        <h6 class="items__title">IMAGEN</h6>
                        <h6 class="items__title">NOMBRE</h6>
                        <h6 class="items__title">PRECIO</h6>
                        <h6 class="items__title">CANTIDAD</h6>                        
                        <h6 class="items__title">TOTAL</h6>
                    </article>
                </div>

                <div class="products">
                    <article class="items">
                        <img class="items__title" src="/img/mora.jpg" alt="">
                        <h6 class="items__title">MORA</h6>
                        <h6 class="items__title">$ 567</h6>
                        <h6 class="items__title">CANTIDAD</h6>                        
                        <h6 class="items__title">$ 567</h6>
                    </article>
                </div>

                <div class="products">
                    <article class="items">
                        <img class="items__title"src="/img/granadilla.jpg" alt="">
                        <h6 class="items__title">GRANADILLA</h6>
                        <h6 class="items__title">$ 6000</h6>
                        <h6 class="items__title">CANTIDAD</h6>                        
                        <h6 class="items__title">$ 7000</h6>
                    </article>
                </div>
        
                        <!--<div class="space-add-button">
                            <button><i class="far fa-heart"></i>Agregar a Favoritos </button>
                            <button><i class="far fa-times-circle"></i>Eliminar Producto</button>
                        </div>-->
            </section>    
            <h3>Total Carrito</h3>
            <section class="content_section">
                <div class="items-nav">
                    <div class="items-nav__price"><h6 class="items_price">Subtotal:</h6><p class="items_price">$$$$$</p></div>   
                    <div class="items-nav__price"><h6 class="items_price">Envio:</h6><p class="items_price">$$$$$</p>   </div>                        
                    <div class="items-nav__price"><h6 class="items_price">Total:</h6><p class="items_price">$$$$$</p>   </div>
                </div>
                <nav class="items-nav content-buttoms">
                    <div class="buttoms_cart"><a href="/register"><button>Pagar</button></a>
                        <a href="/"><button>Continuar Comprando</button></a></div>
                </nav>
            </section>
        </section>
          
    </main>

    <!--footer-->
    <%- include("../partials/footer") %>
    <!--footer-->

</body>

</html>