<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <title>Edición de Perfil</title>
</head>
<body>
    <!--Header-->
    <%- include("../partials/header") %> 
    <!--Header-->
    <!--navbar-->
    <%- include("../partials/navbar") %>
    <!--navbar-->

    <main class="edition">
        <h1>Edición de Perfil</h1>
        <div class="container-product">
            <form action="/perfil/edit/<%= user.idusers %>?_method=PUT"
            method="POST" enctype="multipart/form-data" class="form-register" >
                <div class="img-product">
                    <img src="/img/users/<%=user.image%>" alt="">
                    <div class="control-formulario">
                        <label for="image">Cambiar Foto de Usuario:</label>
                        <div>
                            <input type="file" name="image" id="foto" class="barra" accept=".jpg , .png , .jpeg">
                        </div>
                    </div>
                </div>
                <section class="section-1">
                    <article class="item-product">
                        <div class="inf-product">
                            <h2>Detalle del Perfil</h2>
                            <div class="control-formulario">
                                <label for="name"> Editar nombre del Usuario:</label>
                                <div>
                                    <input type="text" name="name" id="title" class="barra" placeholder="<%=user.name%>" minlength="2">
                                </div>
                            </div>

                            <div class="control-formulario">
                                <label for="lastmane"> Editar apellido del Usuario:</label>
                                <div>
                                    <input type="text" name="lastname" id="title" class="barra" placeholder="<%=user.lastname%>" minlength="2">
                                </div>
                            </div>

                            <div class="control-formulario">
                                <label for="email"> Editar email del Usuario:</label>
                                <div>
                                    <input type="text" name="email" id="title" class="barra" placeholder="<%=user.email%>" minlength="2">
                                </div>
                            </div>

                            <div class="control-formulario">
                                <label for="city"> Editar ciudad del Usuario:</label>
                                <div>
                                    <input type="text" name="city" id="title" class="barra" placeholder="<%=user.city%>" minlength="2">
                                </div>
                            </div>
                        </div>
                        <div class="content-buttons">
                            <input type="reset" id="reset" class="buttons" value="Descartar Cambios">
                            <input type="submit" id="submit" class="buttons" value="Guardar Cambios">
                        </div>
    
                    </article>
                </section>
            </form>
        </div>
    </main>

    <!--footer-->
    <%- include("../partials/footer") %>
    <!--footer-->
</body>
</html>