<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <title>Edición de Perfil</title>
</head>
<body>
    <!--Header-->
    <%- include("../partials/header") %> 
    <!--Header-->
    <!--navbar-->
    <%- include("../partials/navbar") %>
    <!--navbar-->

    <main class="edition">
        <h1>Edición de Perfil</h1>
        <div class="container-product">
            <form action="/perfil/edit/<%= user.idusers %>?_method=PUT"
            method="POST" enctype="multipart/form-data" class="form-register" >
                <div class="img-product">
                    <img src="/img/users/<%=user.image%>" alt="">
                    <div class="control-formulario">
                        <label for="image">Cambiar Foto de Usuario:</label>
                        <div>
                            <input type="file" name="image" id="foto" class="barra" accept=".jpg , .png , .jpeg">
                            <% if (locals.errors && errors.image) { %>
                                <div class="text-danger">
                                    <%= errors.image.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <section class="section-1">
                    <article class="item-product">
                        <div class="inf-product">
                            <h2>Detalle del Perfil</h2>
                            <div class="control-formulario">
                                <label for="name"> Editar nombre del Usuario:</label>
                                <div>
                                    <input type="text" name="name" id="title" 
                                    class="barra <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                                    value="<%=user.name%>" minlength="2">
                                    <% if (locals.errors && errors.name) { %>
                                        <div class="text-danger">
                                            <%= errors.name.msg %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>

                            <div class="control-formulario">
                                <label for="lastmane"> Editar apellido del Usuario:</label>
                                <div>
                                    <input type="text" name="lastname" id="title" 
                                    class="barra <%= locals.errors && errors.lastname ? 'is-invalid' : null %>" 
                                    value="<%=user.lastname%>" minlength="2">
                                    <% if (locals.errors && errors.lastname) { %>
                                        <div class="text-danger">
                                            <%= errors.lastname.msg %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>

                            <div class="control-formulario">
                                <label for="email"> Editar email del Usuario:</label>
                                <div>
                                    <input type="text" name="email" id="title" 
                                    class="barra <%= locals.errors && errors.email ? 'is-invalid' : null %>"  
                                    value="<%=user.email%>" minlength="2">
                                    <% if (locals.errors && errors.email) { %>
                                        <div class="text-danger">
                                            <%= errors.email.msg %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>

                            <div class="control-formulario">
                                <label for="city"> Editar ciudad del Usuario:</label>
                                <div>
                                    <input type="text" name="city" id="title" 
                                    class="barra <%= locals.errors && errors.city ? 'is-invalid' : null %>" 
                                    value="<%=user.city%>" minlength="2">
                                    <% if (locals.errors && errors.city) { %>
                                        <div class="text-danger">
                                            <%= errors.city.msg %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="content-buttons">
                            <input type="reset" id="reset" class="buttons" value="Descartar Cambios">
                            <input type="submit" id="submit" class="buttons" value="Guardar Cambios">
                        </div>
    
                    </article>
                </section>
            </form>
        </div>
    </main>

    <!--footer-->
    <%- include("../partials/footer") %>
    <!--footer-->
    <script src="../../../public/js/validationModUser.js"></script>
</body>
</html>