<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <title>Login</title>
</head>
<body>
    <!--Header-->
    <%- include("../partials/header") %> 
    <!--Header-->
    <!--navbar-->
    <%- include("../partials/navbar") %>
    <!--navbar-->

    <main class="login">
        <h2>Login de Usuario</h2>
        
        <i class="fas fa-user-circle"></i>
        <form action="/login" class="form-login" method="POST">
            <div class="control-formulario">
                <label for="email">Correo electronico:</label>
                <input type="text" name="email" id="email" class="barra" placeholder="Ingrese su email">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger barra">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
            </div >
    
            <div class="control-formulario">
                <label for="password">Contrase単a:</label>
                <input id="password" class="barra" type="password" name="password" placeholder="Ingrese su Contrase単a">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger barra">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>
            <div class="errors-login">
                <ul>
    
                </ul>
            </div>
            <div class="control-formulario">
                <div class="login-options">
                    <div><input type="checkbox" name="remember-me" id="remember-me" class="select" value="remember-me"> Recordar mis
                    datos</div>
                    <a href="/">多Olvidaste tu Contrase単a?</a>
                </div>
            </div>
            
            <div class="content-buttons">
                <input type="submit" class="buttons" value="Enviar">
            </div>
        </form>
    </main>

    <!--footer-->
    <%- include("../partials/footer") %>
    <!--footer-->
    <script src="/js/validationLogin.js"></script>
</body>
</html>